<div ng-include="'partials/navbar.html'"></div>

<h3>Contact</h3>

<p align="justify">
If you want to find out more about this study or have any questions, please contact the following:
</p>

<ul>
	<li><a href="http://www.dcs.gla.ac.uk/~horatiu" target="_blank">Horatiu</a></li>
	<li><a href="http://www.dcs.gla.ac.uk/~zhouke" target="_blank">Adam</a></li>
	<li><a href="http://dcs.gla.ac.uk/~jj/" target="_blank">Joemon</a></li>
</ul>

<p align="justify">
If you want to voice any concerns regarding this study to someone who is not involved, please contact any member of the <a href="https://intranet.psy.gla.ac.uk/ethics/" target="_blank">College of Science and Engineering Ethics Committee</a> (accessible on campus).
</p>

