<div ng-include="'partials/navbar.html'"></div>

<div id="feedback" ng-if="task === 'selectQueries'">
  <span ng-if="selectedTopics === 0 "><strong><big>10 more topics</big></strong></span>
  <span ng-if="selectedTopics < 9 && selectedTopics !== 0"><strong><big>{{ 10 - selectedTopics }} more topics</big></strong></span>
  <span ng-if="selectedTopics === 9"><strong><big>{{ 10 - selectedTopics }} more topic</big></strong></span>
  <span ng-if="selectedTopics > 9"><strong><big>Thank you!</big></strong></span>
</div>

<div ng-switch on="task">

<div ng-switch-default>

<h3>What is this about?</h3>
<p align="justify">
  My name is Horatiu, I'm a Phd student at the University of Glasgow. I'm running a user study to investigate users' perspectives on aggregation based web search. If you're interested you can check <a href="http://www.dcs.gla.ac.uk/~horatiu">my DCS website</a> for some information on my previous work. This study will help us better understand users in aggregation based search scenarios. Thank you for your interest in this study, it would literally not be possible without you.
</p>

<h3>What happens during the study?</h3>

<p align="justify">
The study will take place in the Sir Alwyn Williams building (<a href="http://goo.gl/maps/n3py9">Google Maps</a>, D20 on <a href="http://www.gla.ac.uk/media/media_1887_en.pdf">campus map</a>) and will last approximately <strong>one hour</strong>. You will be <strong>paid £8</strong> for your participation. 
</p>

<p align="justify">
You will be shown several topics (e.g. "music festivals this summer"). For each topic, your task will be to select different documents that relate to the topic and to other documents about the topic (the specifics of the task will be revealed before your session).
</p>

<p align="justify">
 You can imagine the task as being similar to writing a series blog posts: for each post you first search for different bits of information about your topic, then you arrange that information into an exciting, readable post, and then you repeat until you have a series of posts that cover different aspects of your topic. 
</p>

<p align="justify">
 After you create your posts, we will ask you to rate them on different aspects: how interesting they are, how current they are, etc. 
</p>

<p align="justify">
 And that's all! 
</p>

<strong><big>TL;DR</big></strong>

<!-- <h4>TL;DR</h4> -->
<ul>
  <li> Study takes about 60 minutes to complete </li>
  <li> Location is Sir Alwyn Williams Building </li>
  <li> Tasks involve selecting documents that are about the same topic</li>
  <li> You will receive £8 for your help </li>
</ul>

<h3>Sign up</h3>

<big>
<p align="justify">
If you're interested you can sign up using the form below. Don't forget to choose a time slot that works for you.
<br><br>
After you sign up, we will show you a set of topics. Please take 3 minutes to choose the ones you think are most suited for this type of task. Thank you!
</p>
</big>


<hr>

<div>

    <form class="form" name="form" ng-submit="signup(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="user.name" required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
        <label>Email</label>

        <input type="email" name="email" class="form-control" ng-model="user.email" required mongoose-error/>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>

        <p class="help-block" ng-show="form.email.$error.required && submitted">
          What's your email address?
        </p>

        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>

      </div>

      <div class="form-group">
        <label>Date & time</label><br>
        <select ng-options="slot as (slot.dateString | date:'EEE dd/MM/yyyy @ h:mma') for slot in slots" ng-model="selectedSlot" ng-if="slots.length != 0"></select>
        <div ng-if="slots.length == 0">
          <progressbar class="progress-striped active" value="100" type="success"><strong>Searching for available times*</strong></progressbar>
            *If no available times show up, please contact one of the study coordinators to let them know.
        </div>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" style="float: right; width:100%;">Sign up</button>
    </form>
  </div>

</div>

<div ng-switch-when="selectQueries">

<h3>Choose your topics</h3>

<p align="justify">
The task for this study is similar to writing a series of blog posts on a topic: select useful documents (web documents, images, videos, tweets, you name it) on the topic, then extract information from those documents and add it to an interesting post, then repeat until you have a series of posts that cover many different aspect of your topic.
</p>

<p align="justify">
Consider the topic "Olympics". It could be suited for this type of task because:
</p>
<ul>
  <li><p align="justify"><strong>it has many different aspects</strong>(e.g. summer or winter Olympics, London Olympics, Sochi Olympics, Paralympics, different disciplines, evolution of Olympic records, etc.) and</p></li>
  <li><p align="justify"><strong>there are many different sources of information that contain useful information for this topic</strong> (e.g. interesting images and videos, lots of social media content related, even shopping items, etc.)</p></li>
</ul>

Example:
<img src="images/sochi_bundles.png" style="width: 100%;">

<p align="justify"> In the example above, for the topic "<strong>Olympics</strong>", the first set of documents could provide useful information for a blog post on "Memorable events at Sochi", and the second set of documents one on "Sochi Paralympics".</p>

<p align="justify">
From the set of topics below, please choose 10 topics you think are most suited for our task.
</p>

<br>

<div>

<div style="float: left; width: 49%;">
<ul class="list-group">
  <li class="list-group-item"  ng-repeat="query in queries" ng-if="$odd">
    <h5 style="float: left">"{{query.text}}"</h5>
    <button class="btn btn-default" ng-click="toggleTopic(query)" style="float:right">
      <span class="glyphicon glyphicon-ok" ng-class="{'transparent': !query.selected}"></span>
    </button>
    <div style="clear: both"></div>
    <div collapse="!query.selected">
      <hr>
        
        How <strong>familiar</strong> are you with this topic? <br>
        
        <rating value="query.familiarity" max="10" on-hover="familiarityOver(query, value)" on-leave="familiarityLeft(query)"
        state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" style="color: DARKORANGE;"></rating>
        <span class="label label-info">{{getCriterionText(query.familiarityOver, "familiar")}}</span>

        <br><br>
        
        How <strong>difficult</strong> do you think it will be to find <i>useful</i> information about this topic? <br>
        <rating value="query.complexity" max="10" on-hover="complexityOver(query, value)" on-leave="complexityLeft(query)"
        state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" style="color: DARKGREEN;"></rating>
        <span class="label label-primary">{{getCriterionText(query.complexityOver, "difficult")}}</span>
    </div>    
  </li>
</ul>
</div>

<div style="float: right; width: 49%;">
<ul class="list-group">
  <li class="list-group-item"  ng-repeat="query in queries" ng-if="$even">
    <h5 style="float: left">"{{query.text}}"</h5>
    <button class="btn btn-default" ng-click="toggleTopic(query)" style="float:right">
      <span class="glyphicon glyphicon-ok" ng-class="{'transparent': !query.selected}"></span>
    </button>
    <div style="clear: both"></div>
     <div collapse="!query.selected">
      <hr>
        
        How <strong>familiar</strong> are you with this topic? <br>
        
        <rating value="query.familiarity" max="10" on-hover="familiarityOver(query, value)" on-leave="familiarityLeft(query)"
        state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" style="color: DARKORANGE;"></rating>
        <span class="label label-info">{{getCriterionText(query.familiarityOver, "familiar")}}</span>

        <br><br>
        
        How <strong>difficult</strong> do you think it will be to find <i>useful</i> information about this topic? <br>
        <rating value="query.complexity" max="10" on-hover="complexityOver(query, value)" on-leave="complexityLeft(query)"
        state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" style="color: DARKGREEN;"></rating>
        <span class="label label-primary">{{getCriterionText(query.complexityOver, "difficult")}}</span>
    </div>    
  </li>
</ul>
</div>
</div>

<p>

<button class="btn btn-lg btn-primary" style="width: 100%" ng-click="userSubmitPreferences()"> Click here to submit your preferences </button>

</div>

<div ng-switch-when="thanks">
  <h2>
      Thank you!
    </h2>
  <p>

    You signed up using the following credentials:
    <ul>
      <li>Name: {{selectedSlot.userName}} </li>
      <li>Email: {{selectedSlot.userEmail}}</li>
      <li>Date: {{selectedSlot.dateString | date:'EEE dd/MM/yyyy @ h:mma' }}</li>
    </ul>

    Thank you for your interest and we look forward to seeing you!
  </p>
</div>
</div>